<% layout("/layouts/boilerplate") -%>
<div >
    
    <div class="row">
        <div class="col-7 offset-2">
            <h3 class="mt-2"><b>Create a New Listing</b></h3>
    <form method="POST" action="/listing" novalidate class="needs-validation">
        <div class="mb-2">
         <label for="title" class="form-label">Title</label>
         <input type="text" id="title" name="listing[title]" class="form-control" placeholder="enter title" required>
         
         <div class="valid-feedback">Title looks good!</div>
         <div class="invalid-feedback">Please provide a title</div>
</div>
         <div class="mb-3">
         <label for="desc" class="form-label">Description</label>
         <textarea name="listing[description]" class="form-control"  id="desc" required></textarea>
         <div class="invalid-feedback">Please provide a description</div>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image Link</label>
            <input type="text" name="listing[image]" id="img" class="form-control" placeholder="enter image URL/Link">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" id="price" name="listing[price]" class="form-control" placeholder="enter price" required>
                <div class="invalid-feedback">Please provide a price</div>
            </div>
               <div class="mb-3 col-md-8">
                <label for="coun" class="form-label">Country</label>
                <input type="text" id="coun" class="form-control" placeholder="enter country" name="listing[country]" required>
                <div class="invalid-feedback">Please provide a country</div>  
            </div>
        </div>
         <div class="mb-3">
         <label for="loc" class="form-label">Location</label>
        <input type="text" id="loc" name="listing[location]" placeholder="enter location" class="form-control" required> 
        <div class="invalid-feedback">Please provide a location</div>   
    </div>      
         <button class="btn mb-3 add-btn">Add</button>
    </form>
    </div>
    </div>
    </div>
</body>
